# handlers/main.yml
---
- name: mount all filesystems
  ansible.posix.mount:
    path: "{{ item.mount }}"
    src: "{{ item.src }}"
    fstype: "{{ item.fstype | default('auto') }}"
    opts: "{{ item.opts | default('defaults') }}"
    state: mounted
  loop: "{{ mounts | dict2items | map(attribute='value') | list }}"

- name: unmount filesystems
  ansible.posix.mount:
    path: "{{ item.mount }}"
    state: unmounted
  loop: "{{ mounts | dict2items | map(attribute='value') | list }}"
  ignore_errors: yes
